 <center><h1> <font color="Blue"> BDAT 1004 Problem Set #2 </font></h1></center>

<center><h3> Dhruval Domadiya <i>(#200466984)</i></h3></center>

# Question 1</br>
<b>Consider the Python module and answer </b>
<li>What value is displayed when the last expression <b>(a)</b> is evaluated?</li>

In [1]:
a = 0
def b():
 global a
 a = c(a)
def c(a):
 return a + 2

In [2]:
b()

Upon call of function <b>b()</b>
<li>Step 1 - value of a = 0 (refers <b>global var a</b> and <b>change the value of global a</b>)</li>
<li>Step 2 - call c(0) and change value of a to <b>2</b></li>

In [3]:
b()

Value of a is now 2<br/>
Again call function c(2) and change value of a to <b>4</b>

In [4]:
b()

Value of a is now 4   
Again call function c(2) and change value of a to <b>6</b>

In [5]:
#Prints the value of a

a

6

# Question 2

<b>Function <i>fileLength()</i>, given to you, takes the name of a file as input and returns the length of the file.<br/>
If the file cannot be found by the interpreter or if it cannot be read as a text file, an exception will be raised. Modify function fileLength() so that a friendly message is printed instead.</b>

In [6]:
def file_length(name):
    try:
        file = open(name)
        Content = file.read()
        file.close()
        print(len(Content))
        
    # catch IO relataed errors   
    except IOError:
        print("File", name, "not found in the module")
    
    # catch other errors
    except:
        print("BYE BYE!")

In [7]:
file_length('midterm.py')

File midterm.py not found in the module

# Question 3

<b>Write a class named <i>Marsupial</i></b>

In [8]:
class Marsupial:
    
    def __init__(self):
        self.List = []
    
    def put_in_pouch(self,species):
        
        return self.List.append(species)
        
    def pouch_contents(self):
        return self.List

In [9]:
m = Marsupial()
m.put_in_pouch('doll')
m.put_in_pouch('firetruck')
m.put_in_pouch('kitten')
m.pouch_contents()

['doll', 'firetruck', 'kitten']

<b>Now write a class named Kangaroo as a subclass of Marsupial that inherits all the attributes of Marsupial and also:<br/>
<li>a) Extends the Marsupial __init__ constructor to take, as input, the coordinates x and y of the Kangaroo object</li>
<li>b) Supports method jump that takes number values dx and dy as input and moves the kangaroo by dx units along the x-axis and by dy units along the y-axis, and</li>
<li>c) Overloads the __str__ operator</li></b>

In [10]:
class Kangaroo(Marsupial):
    
    def __init__(self, Xcord, Ycord):
        self.X = Xcord
        self.Y = Ycord
        
        Marsupial.__init__(self)
       
        
    #def put_in_pouch(self,species):
        #return self.List
        
    #def pouch_contents(self):
        #return self.List
    
    #def setx(self,Xcord):
        #self.X = Xcord
        
    #def setx(self,Ycord):
        #self.Y = Ycord
        
    #def get(self):
        #return (self.X,self.Y)
    
    def jump(self, dx, dy):
        self.X += dx
        self.Y += dy
        
    def __repr__(self):
        return ("I\'m Kangaroo located at coordinates ({},{})" .format(self.X,self.Y))

In [11]:
k = Kangaroo(0,0)
#print(k)
k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten') 
k.pouch_contents()

['doll', 'firetruck', 'kitten']

In [12]:
k.jump(1,0)
k.jump(1,0)
k.jump(1,0)
print(k)

I'm Kangaroo located at coordinates (3,0)

# Question 4

<b>Write function collatz() that takes a positive integer x as input and prints the Collatz sequence starting at x. A Collatz sequence is obtained by repeatedly applying this rule to the previous number x in the sequence:<br/>
x =  洧논/2 洧녰洧녭 洧논 洧녰洧 洧뉧롐洧뉧롐<br/>x = 3洧논+1 洧녰洧녭 洧논 洧녰洧 洧녶洧녬洧녬<br/>
Your function should stop when the sequence gets to number 1. Your implementation must be recursive, without any loops.</b>

In [13]:
def collatz(X):
    print(X)
    if X == 1:
        return
    else:
        if X % 2 == 0:
            return collatz(int(X/2))
        else:
            return collatz(int(3*X + 1))

In [14]:
collatz(1)

1

In [15]:
collatz(10)

10
5
16
8
4
2
1

# QUestion 5

<b>Write a recursive method binary() that takes a non-negative integer n and prints the binary representation of integer n.</b>

In [16]:
def binary(x):
    if x == 0:
        return 0
    else:
        return (x % 2 + 10 * binary(int(x // 2)))

In [17]:
binary(9)

1001

In [18]:
binary(11)

1011

In [19]:
binary(0)

0

In [20]:
binary(1)

1

In [21]:
binary(3)

11

# Question 6

<b>Implement a class named HeadingParser that can be used to parse an HTML document, and retrieve and print all the headings in the document. You should implement your class as a subclass of HTMLParser, defined in Standard Library module html.parser. When fed a string containing HTML code, your class should print the headings, one per line and in the order in which they appear in the document. Each heading should be indented as follows: an h1 heading should have indentation 0, and h2 heading should have indentation 1, etc. Test your implementation using w3c.html.</b>

In [22]:
from html.parser import HTMLParser 

class HeadingParser(HTMLParser):
    
    def handle_starttag(self, tag, attrs):
        self.tag_List = []
        self.tag_List = tag
        
    def handle_data(self, data):
        if self.tag_List == 'h1':
            print(data)
            
        elif self.tag_List == 'h2':
            print(" ", data)
            
        elif self.tag_List == 'h3':
            print("  ", data)
            
        elif self.tag_List == 'h4':
            print("   ", data)
            
        elif self.tag_List == 'h5':
            print("    ", data)
            
        elif self.tag_List == 'h6':
            print("     ", data)

In [23]:
infile = open('w3c.html')
content = infile.read()
infile.close()
hp = HeadingParser()
hp.feed(content)

W3C Mission


  Principles

# Question 7

<b>Implement recursive function webdir() that takes as input: a URL (as a string) and non-negative integers depth and indent. Your function should visit every web page reachable from the starting URL web page in depth clicks or less, and print each web page's URL. As shown below, indentation, specified by indent, should be used to indicate the depth of a URL.</b>

In [24]:
from urllib.request import urlopen
from urllib.parse import urljoin

from html.parser import HTMLParser
import re
def analyze(url,indent,depth):
    
    print(indent*"" ,url)           

    # obtain links in the web page
    content = urlopen(url).read().decode()
    collector = Collector(url)
    collector.feed(content)
    urls = collector.getLinks()          

    return urls

In [25]:
from urllib.parse import urljoin
from html.parser import HTMLParser
from urllib.request import urlopen

class Collector(HTMLParser):
    'collects hyperlink URLs into a list'

    def __init__(self, url):
        'initializes parser, the url, and a list'
        HTMLParser.__init__(self)
        self.url = url
        self.links = []

    
    def handle_starttag(self, tag, attrs):
        'collects hyperlink URLs in their absolute format'
        if tag == 'a':
            for attr in attrs:
                if attr[0] == 'href':
                    # construct absolute URL
                    absolute = urljoin(self.url, attr[1])
                    if absolute[:4] == 'http': # collect HTTP URLs
                        self.links.append(absolute)
                        
    def getLinks(self):
        'returns hyperlinks URLs in their absolute format'
        return self.links

In [26]:
visited = set() 

def WebDir(url,indent,depth):

    # add url to set of visited pages
    global visited    
    visited.add(url)

    # analyze() returns a list of hyperlink URLs in web page url 
    links = analyze(url,indent,depth)

    # recursively continue crawl from every link in links
    for link in links:
        # follow link only if not visited
        if link not in visited:
            try:
                WebDir(link, indent,depth)
            except:
                pass

In [27]:
WebDir('http://reed.cs.depaul.edu/lperkovic/one.html',2,0)

 http://reed.cs.depaul.edu/lperkovic/one.html
 http://reed.cs.depaul.edu/lperkovic/two.html
 http://reed.cs.depaul.edu/lperkovic/four.html
 http://reed.cs.depaul.edu/lperkovic/five.html
 http://reed.cs.depaul.edu/lperkovic/three.html

# Question 8

<b>Write SQL queries on the below database table</b>

#Install sql in ipython

!pip install ipython-sql

In [28]:
import sqlite3

<b>Create Database Table</b>

In [29]:
con = sqlite3.connect('web.db')
cur = con.cursor()

#create table
cur.execute("CREATE TABLE TempData (City text, Country text, Season text, Temperature float, Rainfall float)")

#Insert first row values into table
cur.execute("INSERT INTO TempData VALUES ('Mumbai','India','Winter',24.8,5.9)")

<b>Insert values to database table.</b>

In [30]:
cur.execute("INSERT INTO TempData VALUES ('Mumbai','India','Spring',28.4,16.2)")
cur.execute("INSERT INTO TempData VALUES ('Mumbai','India','Summer',27.9,1549.4)")
cur.execute("INSERT INTO TempData VALUES ('Mumbai','India','Fall',27.6,346.0)")
cur.execute("INSERT INTO TempData VALUES ('London','United Kingdom','Winter',4.2,207.7)")
cur.execute("INSERT INTO TempData VALUES ('London','United Kingdom','Spring',8.3,169.6)")
cur.execute("INSERT INTO TempData VALUES ('London','United Kingdom','Summer',15.7,157.0)")
cur.execute("INSERT INTO TempData VALUES ('London','United Kingdom','Fall',10.4,218.5)")
cur.execute("INSERT INTO TempData VALUES ('Cairo','Egypt','Winter',13.6,16.5)")
cur.execute("INSERT INTO TempData VALUES ('Cairo','Egypt','Spring',20.7,6.5)")
cur.execute("INSERT INTO TempData VALUES ('Cairo','Egypt','Summer',27.7,0.1)")
cur.execute("INSERT INTO TempData VALUES ('Cairo','Egypt','Fall',22.2,4.5)")

<b>A. Display all Temperature data.</b>

In [31]:
cur.execute('SELECT Temperature FROM TempData')

Asol = cur.fetchall()
for i in Asol:
    print(i)

(24.8,)
(28.4,)
(27.9,)
(27.6,)
(4.2,)
(8.3,)
(15.7,)
(10.4,)
(13.6,)
(20.7,)
(27.7,)
(22.2,)

<b>B. Display all the cities, but without repetition.</b>

In [32]:
cur.execute('select DISTINCT City, Country from TempData')
Bsol = cur.fetchall()
for i in Bsol:
    print(i)

('Mumbai', 'India')
('London', 'United Kingdom')
('Cairo', 'Egypt')

<b>C. Display all the records for India.</b>

In [33]:
cur.execute('select * from TempData WHERE Country = "India" ')
Csol = cur.fetchall()
for i in Csol:
    print(i)

('Mumbai', 'India', 'Winter', 24.8, 5.9)
('Mumbai', 'India', 'Spring', 28.4, 16.2)
('Mumbai', 'India', 'Summer', 27.9, 1549.4)
('Mumbai', 'India', 'Fall', 27.6, 346.0)

<b>D. Display all the Fall records.</b>

In [34]:
cur.execute('select * from TempData WHERE Season = "Fall" ')
Dsol = cur.fetchall()
for i in Dsol:
    print(i)

('Mumbai', 'India', 'Fall', 27.6, 346.0)
('London', 'United Kingdom', 'Fall', 10.4, 218.5)
('Cairo', 'Egypt', 'Fall', 22.2, 4.5)

<b> E. Display the city, country, and season for which the average rainfall is between 200 and 400 millimeters.</b>

In [35]:
cur.execute('select City, Country, Season from TempData WHERE Rainfall >=200 and Rainfall <=400 ')
Esol = cur.fetchall()
for i in Esol:
    print(i)

('Mumbai', 'India', 'Fall')
('London', 'United Kingdom', 'Winter')
('London', 'United Kingdom', 'Fall')

<b>F. Display the city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order.</b>

In [36]:
cur.execute('select City, Country from TempData WHERE Season = "Fall" and Temperature > 20 ORDER BY Temperature')
Fsol = cur.fetchall()
for i in Fsol:
    print(i)

('Cairo', 'Egypt')
('Mumbai', 'India')

<b>G. Display the total annual rainfall for Cairo.</b>

In [37]:
cur.execute('select SUM(Rainfall) from TempData WHERE City = "Cairo" ')
Gsol = cur.fetchall()
for i in Gsol:
    print(i)

(27.6,)

<b>H. Display the total rainfall for each season.</b>

In [38]:
cur.execute('select SUM(Rainfall),Season from TempData GROUP BY Season ')
Hsol = cur.fetchall()
for i in Hsol:
    print(i)

(569.0, 'Fall')
(192.29999999999998, 'Spring')
(1706.5, 'Summer')
(230.1, 'Winter')

# Question 9

In [39]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
words

['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

<b><h3>Write list comprehension expressions that use list words and generate the following lists:</h3></b>

<b>A) ['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']</b>

In [40]:
X = [i.upper() for i in words]
X

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

<b>B) ['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']</b>

In [41]:
X = [i.lower() for i in words]
X

['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

<b>C) [3, 5, 5, 3, 5, 4, 3, 4, 3] (the list of lengths of words in list words).</b>

In [42]:
X = [len(i) for i in words]
X

[3, 5, 5, 3, 5, 4, 3, 4, 3]

<b>D) [['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]] (the list containing a list for every word of list words, where each list contains the word in uppercase and lowercase and the length of the word.)</b>

In [43]:
X = [[i.upper(), i.lower(), len(i)] for i in words]
X

[['THE', 'the', 3],
 ['QUICK', 'quick', 5],
 ['BROWN', 'brown', 5],
 ['FOX', 'fox', 3],
 ['JUMPS', 'jumps', 5],
 ['OVER', 'over', 4],
 ['THE', 'the', 3],
 ['LAZY', 'lazy', 4],
 ['DOG', 'dog', 3]]

<b>E) The list of words in list words containing 4 or more characters.</b>

In [44]:
X = [i for i in words if len(i)>= 4]
X

['quick', 'brown', 'jumps', 'over', 'lazy']